:host>div {
  border-top: 1px dashed #2199e8;
  margin-top: 128px;
  padding-top: 28px;
  margin-bottom: 20px;
}

.fa {
   color: deeppink;
   cursor: pointer;
   font-size: 3.0em;
 }
  

#divFavCollection {
  position: relative;
  top: 15px;
  bottom: auto;
}

#divFavDetail {
  position: relative;
  top: 20px;
  bottom: auto;
}

 #buttonFav {
    display:      block;
    margin-left:  0px;
    margin-right: auto;
}