<div *ngIf="data">
  
  <span *ngIf="isFav(data.id) === true">
        <img [src]="data.photo" class="thumbnail"  id="favPhoto" />
  </span>
  <span *ngIf="isFav(data.id) === false">
        <img [src]="data.photo" class="thumbnail" />
  </span>
  
   
  <button
    class="button expanded"    
    [class.success]="data.state === 'selling'"
    [class.secondary]="data.state === 'sold'"
    (click)="notifyDetail(data)">
      <span *ngIf="data.state === 'selling'">
        Comprar por {{ data.price | number: '1.2-2' }} €
      </span>
      <span *ngIf="data.state === 'sold'">
        Ver detalles
      </span>
    </button>
</div>
