img:hover {
  cursor: pointer;
}

 .fa {
   color: deeppink;
   cursor: pointer;
   font-size: 2.0em;
 }

#divFav {
  position: relative;
  top: 12px;
  bottom: auto;
}

 #buttonFav {
    display:      block;
    margin-left:  0px;
    margin-right: auto;
}