<div class="search">
  <div class="row">
    <div class="small-6 medium-3 large-3 columns">
      <label for="idName">Nombre de producto</label>
      <input [(ngModel)]="productFilter.title" type="text" placeholder="Pe. Uncharted" id="idName">
    </div>
     <div class="small-6 medium-3 large-3 columns">
      <label for="idDescripcion">Descripción</label>
      <input [(ngModel)]="productFilter.description" type="text" placeholder="Pe. Texto libre a buscar"
      id="idDescripcion">
    </div>
    <div class="small-6 medium-3 large-3 columns">
       <label for="idCategory">Categoría</label>
      <select [(ngModel)]="productFilter.category" id="idCategory">
        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
      </select>
    </div>
     <div class="small-6 medium-3 large-3 columns">
      <label for="idStatus">Estado</label>
      <select [(ngModel)]="productFilter.state" id="idStatus">
        <option value="" ng-if="false"></option>
        <option *ngFor="let state of _productsState" [value]="state.id">{{ state.value }}</option>
      </select>
    </div>     
  </div>
  <div class="row"> 
   <div class="small-6 medium-3 large-3 columns">
      <label for="idPriceRangeMin">Precio mayor que</label>
      <input type="number" [(ngModel)]="productFilter.priceMin" id="idPriceRangeMin" min="0" step="5" ngChange="true">
    </div>   
    <div class="small-6 medium-3 large-3 columns">
      <label for="idPriceRangeMax">Precio menor que</label>
      <input type="number" [(ngModel)]="productFilter.priceMax" id="idPriceRangeMax" max="1000"  step="5">
    </div>
    <div class="small-12 medium-3 large-3 columns">
      <label for="idDate">Publicado antes de</label>
      <input type="date" id="idDate"
      maxdate="todays"
      [(ngModel)]="productFilter.publishedDate"
       min="2000-01-01" max="3017-01-01"/>
    </div>
    <div class="small-6 medium-3 large-3 columns">
      <label for="nameUser">Nombre de usuario</label>
        <input [(ngModel)]="productFilter.userName" type="text" placeholder="Pe. ivolunteer" id="nameUser">
    </div>
  </div>
  <div class="row"> 
    <div class="small-3 medium-3 large-3 columns">
      <label for="idOrderField">Ordernar por campo</label>
        <input type="radio" 
                name="editListFieldDate" 
                value="publishedDate"
                [(ngModel)]="productFilter.orderField"> Fecha
        <input type="radio" 
                name="editListFieldTitle" 
                value="name"
                [(ngModel)]="productFilter.orderField"> Título
    </div>

    <div class="small-3 medium-3 large-3 columns">
      <label for="idOrderType">Tipo de ordenación</label>
        <input type="radio" 
              name="editListTypeASC" 
              value="ASC"
              ngValue="ASC"
              [(ngModel)]="productFilter.orderType"> Ascendente
              
        <input type="radio" 
              name="editListTypeDESC" 
              value="DESC" 
              ngValue="DESC"
              [(ngModel)]="productFilter.orderType"> Descendente
    </div>
    <div class="small-2 medium-2 large-2 columns">
      <button (click)="notifyHost()" class="button expanded">Buscar</button>
    </div>
    <div class="small-2 medium-2 large-2 columns">
      <button (click)="resetFilter()" class="button expanded">Limpiar filtro</button>
    </div>
  </div>
</div>

